# Android / Gradle
*.iml
.gradle/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
release/

# Keystores — nie ins Repo
*.jks
*.keystore

# IDE
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
.DS_Store
